@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ofertas {
    background-color: #000000d5;
    color: #fff;
    display: flex;justify-content: space-between;
    padding-left: 280px;
    border-radius: 10px 10px 0px 0px;
    height: 34px; 
}

.heading {
    background-color: rgb(255, 230, 0);
    color: #000;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 230px;
}

.heading p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

header {
    background-color: rgb(255, 230, 0);
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 27px;
}

.nav-left input {
    border: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 0.5 black;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width:  450px;
    margin-left: 20px;
    background-color: red none;
}

.popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    border: 1px solid #ddd;
    top: 55px;
    left: 35%; 
    width: 450px;
    z-index: 1000; 
    opacity: 0.8;

}
.hover:hover{
    background-color: gray;
    opacity: 0.7;
}
.nav-left input::placeholder {
    color: gray;
    font-size: 17px;
}

.nav-left img {
    margin: 0px 20px 0px 20px;
    width: 86px;
    cursor: pointer;
}


.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}


.bx-search {
    background-color: gray;
    color: #fff;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.bx-menu{
    font-size: 34px;
    cursor: pointer;
    border: 5px solid transparent;
    transition: background-color 0.3s ease;
}

.bx-menu:hover{
    background-color: #fff;
    border-radius: 100%;
}

.profile i{
    transform: translateX(20px);
}
.profile p{
    font-size: 14px;
    font-weight: bold;
}

.profile i:hover {
    background: #fff;
}

.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.btn-menu{
    color:black;
		font-size: 25px;
		cursor: pointer;
}
.btn-menu:hover{
    background-color: white;
  border-radius: 50%;
}

.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 1;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: white;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: black;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #e6dfdf;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/


.menuSecundario {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 8px;
}

.container-MenuSecundario-left {
    display: flex;
    gap: 2rem;
}

.container-MenuSecundario-left a {
    text-decoration: none;
    color: #fff;
}

.container-MenuSecundario-left i{
    color: #fff;
    margin-right: 5px;
}


.container-MenuSecundario-right a {
    text-decoration: none;
    color: #000000c7;
    margin: 10px;
    font-size: 20px;
}

.container-MenuSecundario-right a:hover {
    text-decoration: underline;
}
.inicio {
    background-color: #000;
    padding: 10px;
    width: 145px; 
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mercado {
    background-color: #000;
    padding: 10px;
    width: 145px;
    height: 46px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moda {
    background-color: #000;
    padding: 10px;
    width: 145px;
    height: 46px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2-container {
    margin-top: 20px;
    margin-left: 60px;
}
.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 180px;
}

.content1 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 2rem;
}

.content2 {
    display: flex;
    gap: 2rem;
}

.box p{
    text-align: center;
}